<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mahjong</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <style>
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 300;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="ui active inverted dimmer" v-if="isloading">
            <div class="ui text loader">{{ $t('mes.gettingConnected') }}</div>
        </div>
        <div class="ui top fixed borderless large menu">
            <div class="ui container">
                <div class="item" style="font-weight: bold;">
                    Mahjong
                </div>
                <a class="item" data-tab="basic">{{ $t('nav.home') }}</a>
                <!--a class="item" data-tab="room">{{ $t('nav.room') }}</a-->
                <a class="item" data-tab="help">{{ $t('nav.help') }}</a>
                <div class="ui pointing dropdown link item">
                    {{ $t("nav.language") }}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" v-for="(lg, i) in langs" @click="i18n.locale=lg.val">
                            <i :class="'flag '+lg.flag">
                            </i>{{ lg.show }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 55px"></div>
        <div class="ui container">
            <div class="ui tab" data-tab="basic">

                <template v-if="user.status == 2">
                    <template v-if="!huPeople">
                        <div class="ui segment">
                            {{ $t('game.dragon') }}：<span v-if="game.dragon < 0 || game.dragon > 33"
                                class="ui basic horizontal label">
                                {{ $t('game.unknown') }}
                            </span>
                            <span v-else class="ui basic horizontal label">
                                {{ cardsname[game.dragon] }}
                            </span>
                            <br>
                            {{ $t('game.yourCards') }}：<span v-for="(cd,i) in game.cards" style="cursor: pointer;"
                                class="ui horizontal label"
                                :class="{ basic:cd.num!=game.dragon && i !=13, primary:cd.num==game.dragon && i != game.cards.length-1, green: i == game.cards.length-1, grey: cd.type != 0}"
                                @click="put_card(cd.num)">
                                {{ cardsname[cd.num] }}
                            </span>
                            <hr />
                            <span v-if="game.cards.length >= 14" class="ui red horizontal label">
                                {{ $t('game.yourRound') }}
                            </span>
                        </div>
                        <div class="ui segment">
                            <h3>{{ $t('game.discardedCards') }}</h3>
                            <div v-for="(plyr,i) in game.pt">
                                <span>
                                    PLY{{ i+1 }}
                                    <template v-if="i == game.me">
                                        ({{ $t('game.me') }})
                                    </template>
                                </span>:
                                <span v-for="j in plyr" class="ui basic horizontal label" :class="{ red: j >= 100 }">
                                    {{ cardsname[j % 100] }}
                                </span>
                                <br>
                            </div>
                        </div>
                        <div class="ui segment">
                            <h3>{{ $t('game.options') }}</h3>
                            <button class="ui button" v-show="canOp" @click="doOp(0)">{{ $t('game.cancel') }}</button>
                            <button class="ui primary button" v-show="canEat" @click="doOp(2)">{{ $t('game.eat')
                                }}</button>
                            <button class="ui green button" v-show="canPen" @click="doOp(3)">{{ $t('game.pen')
                                }}</button>
                            <button class="ui violet button" v-show="canGang" @click="doOp(4)">{{ $t('game.gang')
                                }}</button>
                            <button class="ui red button" v-show="canHu" @click="doOp(1)">{{ $t('game.hu') }}</button>
                        </div>
                    </template>
                    <template v-else>
                        <div class="ui segment">
                            {{ huPeople }}糊了<br>
                            {{ allShow }}
                            <br>
                            <button class="ui button grey" @click="quitGame">离开</button>
                        </div>
                    </template>
                </template>
                <template v-else>
                    <h1>Mahjong</h1>
                    <div class="ui stackable grid">
                        <div class="row">
                            <div class="five wide column">
                                <div class="ui raised segment">
                                    <div class="ui form">
                                        <div class="field">
                                            <label>{{ $t('nav.room') }} ID</label>
                                            <div class="ui disabled input">
                                                <input type="text" v-model="room">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>{{ $t('user.nickname') }}</label>
                                            <div class="ui action input">
                                                <input type=text v-model="user.nickname"
                                                    :placeholder="$t('user.nickname')">
                                                <button class="ui button" @click="randomName">
                                                    {{ $t('mes.randomOne') }}
                                                </button>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>ClientID</label>
                                            <div class="ui disabled input">
                                                <input type="text" v-model="sked.id">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui primary button" @click="updateMe">
                                                {{ $t('mes.update') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="eleven wide column">
                                <h2>{{ $t('mes.onlineUsers') }} {{ onlineUsers.length }}</h2>
                                <table class="ui very basic table">
                                    <thead>
                                        <tr>
                                            <th>{{ $t('user.nickname') }}</th>
                                            <th>{{ $t('user.status') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(u, i) in onlineUsers">
                                            <td>{{ u.nickname }}</td>
                                            <td>
                                                <span v-if="u.status == 0" class="ui label grey">
                                                    {{ $t('user.free') }}
                                                </span>
                                                <span v-else-if="u.status == 1" class="ui label blue">
                                                    {{ $t('user.waiting') }}
                                                </span>
                                                <span v-else class="ui label red">
                                                    {{ $t('user.ingame') }}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="ui primary button" :class="{ basic: user.status == 0 }"
                                    @click="changeStatus" v-if="onlineUsers.length > 1">
                                    {{ $t('mes.forceStart') }} {{ forcedUsers }} / {{ onlineUsers.length }}
                                </button>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <!--div class="ui tab" data-tab="room">
                <template v-if="user.status == 2">
                    <template v-if="!huPeople">
                        <div class="ui segment">
                            {{ $t('game.dragon') }}：<span v-if="game.dragon < 0 || game.dragon > 33"
                                class="ui basic horizontal label">
                                {{ $t('game.unknown') }}
                            </span>
                            <span v-else class="ui basic horizontal label">
                                {{ cardsname[game.dragon] }}
                            </span>
                            <br>
                            {{ $t('game.yourCards') }}：<span v-for="(cd,i) in game.cards" style="cursor: pointer;"
                                class="ui horizontal label"
                                :class="{ basic:cd.num!=game.dragon && i !=13, primary:cd.num==game.dragon && i != game.cards.length-1, green: i == game.cards.length-1, grey: cd.type != 0}"
                                @click="put_card(cd.num)">
                                {{ cardsname[cd.num] }}
                            </span>
                            <hr />
                            <span v-if="game.cards.length >= 14" class="ui red horizontal label">
                                {{ $t('game.yourRound') }}
                            </span>
                        </div>
                        <div class="ui segment">
                            <h3>{{ $t('game.discardedCards') }}</h3>
                            <div v-for="(plyr,i) in game.pt">
                                <span>
                                    PLY{{ i+1 }}
                                    <template v-if="i == game.me">
                                        ({{ $t('game.me') }})
                                    </template>
                                </span>:
                                <span v-for="j in plyr" class="ui basic horizontal label" :class="{ red: j >= 100 }">
                                    {{ cardsname[j % 100] }}
                                </span>
                                <br>
                            </div>
                        </div>
                        <div class="ui segment">
                            <h3>{{ $t('game.options') }}</h3>
                            <button class="ui button" v-show="canOp" @click="doOp(0)">{{ $t('game.cancel') }}</button>
                            <button class="ui primary button" v-show="canEat" @click="doOp(2)">{{ $t('game.eat')
                                }}</button>
                            <button class="ui green button" v-show="canPen" @click="doOp(3)">{{ $t('game.pen')
                                }}</button>
                            <button class="ui violet button" v-show="canGang" @click="doOp(4)">{{ $t('game.gang')
                                }}</button>
                            <button class="ui red button" v-show="canHu" @click="doOp(1)">{{ $t('game.hu') }}</button>
                        </div>
                    </template>
                    <template v-else>
                        <div class="ui segment">
                            {{ huPeople }}糊了<br>
                            {{ allShow }}
                            <br>
                            <button class="ui button grey" @click="quitGame">离开</button>
                        </div>
                    </template>
                </template>
                <template v-else>
                    <h1>Room #{{ room }}</h1>
                    <div class="ui stackable grid">
                        <div class="row">
                            <div class="five wide column">
                                <div class="ui form">
                                    <div class="field">
                                        <label>{{ $t('mes.link') }}</label>
                                        <div class="ui disabled action input">
                                            <input type="text" :value="location.href">
                                            <button class="ui button" onclick="alert('自己选中然后复制吧')">
                                                {{ $t('mes.copy') }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="eleven wide column">
                                <h2>{{ $t('mes.onlineUsers') }}</h2>
                                <table class="ui very basic table">
                                    <thead>
                                        <tr>
                                            <th>{{ $t('user.nickname') }}</th>
                                            <th>{{ $t('user.status') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(u, i) in onlineUsers">
                                            <td>{{ u.nickname }}</td>
                                            <td>
                                                <span v-if="u.status == 0" class="ui label grey">
                                                    {{ $t('user.free') }}
                                                </span>
                                                <span v-else-if="u.status == 1" class="ui label blue">
                                                    {{ $t('user.waiting') }}
                                                </span>
                                                <span v-else class="ui label red">
                                                    {{ $t('user.ingame') }}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="ui primary button" :class="{ basic: user.status == 0 }"
                                    @click="changeStatus" v-if="onlineUsers.length > 1">
                                    {{ $t('mes.forceStart') }} {{ forcedUsers }} / {{ onlineUsers.length }}
                                </button>
                            </div>
                        </div>
                    </div>
                </template>
            </div-->
            <div class="ui bottom attached tab segment" data-tab="help">
                <h1>{{ $t('nav.help') }}</h1>
                <h2>FAQ</h2>
                <div class='ui segment'>
                    Q: 我找不到“强制开始”按钮则么办<br>
                    A: 两人以上才会在“房间”出现
                </div>
            </div>
        </div>
        <div class="ui segment" id="chatbox"
            style="box-shadow:0 4px 6px rgba(0, 0, 0, .2);padding:0;backdrop-filter:blur(4px);background-color:#fafafa70;max-width: 300px;width: 30%;position: absolute;left:0;bottom: 0;height: 300px;overflow-x:hidden;transition: all .5s;">
            <div id="chat_main"
                style="padding:8px 12px;width: 100%;height:calc(100% - 40px);cursor: pointer;overflow-y: auto;word-break: normal;"
                onclick="if (chatbox.style.height == '300px') { chatbox.style.height='100px';chatbox.style.width='60px';chatbox.style.backgroundColor='#3d3d3d80'}else{chatbox.style.height='300px';chatbox.style.width='3000px';chatbox.style.backgroundColor='#fafafa70'}">
                <span v-for="(c, i) in chats">
                    <template v-if="c.user=='asdfdsafdsfudscsadsa'">
                        <span style="width:100%;background-color:#ccc;padding:3px 6px;border-radius:5px;">
                            <i class="icon small grey info"></i>
                            {{ c.mes }}
                        </span>
                    </template>
                    <template v-else>
                        <b>{{ c.user }}</b>
                        {{ c.mes }}
                    </template>
                    <br>
                </span>
            </div>
            <form @submit="sendMessage">
                <div class="ui input" style="position: absolute;bottom: 0;width: 100%;">
                    <input type="text" v-model="chatMessage" placeholder="聊天">
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/md5@2.3.0/dist/md5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io@3.1.2/client-dist/socket.io.min.js"></script>
    <!--script src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.1.3/socket.io.js"></script-->
    <script src="https://cdn.jsdelivr.net/npm/vue-i18n@8.25.0/dist/vue-i18n.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <script src="/main.js"></script>
</body>

</html>